<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2023 OpenSynergy Indonesia
     Copyright 2023 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
<menuitem
        id="sprint_backoffice_menu"
        name="Sprint Backoffice"
        parent="base.menu_custom"
    />
</odoo>
